@model UserDetailsViewModel

@{
    this.ViewData["Title"] = "Details";
}


<div class="container w-100 user-details-sections-wrapper">
    <div class="d-flex justify-content-between">
        <h1>@Model.Username</h1>
        <div class="votes-container d-flex justify-content-between">
            <div>
                <i @if (this.User.Identity.IsAuthenticated) { <text> id="upVote" </text> } class="far fa-thumbs-up fa-2x  @if (Model.IsCurrentUserVotedPositive) { <text>votes-positive-btn</text>}"></i>
                <span id="upVotesCount" class="votes-value">@Model.PositiveVotes</span>
            </div>
            <div class="stroke"></div>
            <div>
                <span id="downVotesCount" class="votes-value">@Model.NegativeVotes</span>
                <i @if (this.User.Identity.IsAuthenticated) { <text> id="downVote" </text> } class="far fa-thumbs-down fa-2x @if (Model.IsCurrentUserVotedNegative) { <text>votes-negative-btn</text>}"></i>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <span>Join Date @Model.CreatedOn.ToString("dd/MM/yyyy")</span>
        <br />
    </div>

    <hr />
    <br />

    <div class="d-flex justify-content-around">
        @if (this.User.Identity.Name == Model.Username)
        {
            <h2>My auto parts:</h2>
            <h2>Comments for me:</h2>
        }
        else
        {
            <h2>Added Autoparts:</h2>
            <h2>Comments For User:</h2>
        }
    </div>

    <br />

    <div class="d-flex justify-content-between">
        <div class="col-6 user-details-section bg-light rounded">
            <div class="d-flex justify-content-between row border border-light rounded user-details-section-items w-100 h-100">
                @foreach (var autopart in Model.Autoparts)
                {
                    <partial name="_AutopartPartial" model="autopart" />
                }
            </div>
        </div>
        
        <div class="col-5 border-light bg-light user-details-section rounded">
            <div class="user-details-section-items h-75">
                @foreach (var comment in Model.CommentsForUser)
                {
                    <partial name="_CommentPartial" model="comment" />
                }
            </div>
            <br />
            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="bg-light add-comment-section">
                    <div class="text-center">
                        <textarea placeholder="Leave a comment..." id="commentContent" class="w-100 comment-content border rounded"></textarea>
                    </div>
                    <div class="text-center">
                        <button id="commentSubmitBtn" class="btn btn-primary w-100">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/users/usersLib.js"></script>
    <script>
        function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }

        setupUserDetails(gettoken(), "@Model.Username");
    </script>
}
